#about {
    text-align:justify;
    font-size: 22px;
  }

#intro{
background-color: black;
height: 500px;
background-image: url(busy.jpg);
}

#name{
color: aliceblue;
text-align: justify;
padding-left: 120px;
padding-top: 150px;
}

#about p{
height: 100px;
text-align: justify;
}


.content-info{
height: 100px;
background: #000a12;
text-align: center;
font-family: "Bree Serif";
color: white;
/* margin-bottom: 1%; */
}

.footer_second a{
color: gray;
}

.fa{
padding: 20px;
font-size: 15px;
width: 50px;
text-align: center;
text-decoration: none;
border-radius: 40px;
height: 10px;
width: 7px;
}

.fa:hover{
opacity: 0.7;
}

.fa-facebook{
color: white;
}

.fa-instagram{
color: white;
}

.fa-linkedin{
color: white;
}


.nextpara {
    background-color: whitesmoke;
    min-height: 300px;
    margin-top: 50px;
    padding: 5px;
    font-size: 20px;
}
.nextpara aside{

    width: 50.00%;
    float: left;
    padding: 5px;
    text-align: justify;
}

.workex aside{

    width: 50.00%;
    float: left;
    padding: 8px;
    text-align: justify;
}

.school aside{

    width: 50.00%;
    float: left;
    padding: 8px;
    text-align: justify;
}

.myimg{
    margin-left: 20px;
}


#hm_main{
    background-image: url(hire.gif);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}

#head{
    text-align:center;
    margin-top: 80px;
}

#hiremepara{
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    color: black
}

#hm_para{
    color: gray;
}

.hm_footer{
    height: 100px;
    background: #000a12;
    text-align: center;
    font-family: "Bree Serif";
    color: white;
    margin-top: 100px;
    }


